@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
}

div.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  background-color: white;
}

div.container>header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.container>header>h1,
div.container>header>p {
  margin: 10px;
  width: 100%;
  text-align: center;
}

ul {
  margin-left: 25px;
}

table {
  margin: 10px auto;
  width: 100%;
}

table>tbody {
  outline: 1px solid black;
}

table>tbody>tr:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

table>tbody>tr>td {
  padding: 10px;
}

h4 {
  width: 100%;
  margin: 10px;
  text-align: center;
}
textarea#template{
  height: 170px;
  width: 400px;
  resize: none;
}
ul.notas {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
ul.notas > li {
  width: 50%;
}